version: '3'
services:
  coordinator:
    image: mateichukmykola/coordinator:latest
    ports:
      - "8000:8000"
    environment:
      - DYNAMODB_TABLE_NAME=CoordinatorMetadata
      - SHARD_URLS=${shard_urls}