version: '3'
services:
  coordinator:
    image: your_docker_hub/coordinator:latest
    ports:
      - "8000:8000"
    environment:
      - SHARD_URLS=http://${shard1_host}:8000,http://${shard2_host}:8000