name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.5

      - name: Build and Push Docker images
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/coordinator:latest ./coordinator
          docker build -t ${{ secrets.DOCKER_USERNAME }}/shard:latest ./shard
          docker push ${{ secrets.DOCKER_USERNAME }}/coordinator:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/shard:latest

      - name: Deploy Terraform
        working-directory: ./infra
        run: |
          terraform init
          terraform apply -auto-approve